.container {
  max-width: 76rem;
  width: 88%;
  margin: auto;
}

.no-scroll {
  overflow: hidden;
}

.logo-link {
  font-family: 'Fraunces', serif;
  font-size: 1.5rem;
  color: var(--color-primary);

  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}
